@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


#container{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  max-height: 100vh;
  overflow-y: hidden;
}

.map-container {
  margin: auto;
  height: 105vh;
  
}

element.style{
  width:100%;
  height: 105vh;
}

.button-collapsed{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


.btn{
  background-color: transparent;
  width: 90%;
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.collapsed{
  font-family: "Montserrat", sans-serif;
  background-color: #3ccd79;
  padding: 20px 50px;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 35px;
}
textarea {
  width: 90vw;
  min-height: 12vh;
}


.button-expanded{

  position: fixed;
  width: 100%;
  height: max-content;
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.form-header{
  display: grid;
  grid-template-columns: 9fr  1fr;
  
}
.ticket-form{
  display: flex;
  margin: 40px 0;
  flex-direction: column;
}

.form-title{
  margin: 20px 0 10px 0;
  width: 100%; 
}

.row{
  margin-bottom: 10px;
}

.submit{
  background-color: #3ccd79;
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 40px;
  width: 100%;
  margin: 20px auto 0 auto;
  
}
.input {

  width: 100%;
 height: 40px;
}

.close{
  color: black;
}

/* --------- */

#user {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}


/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  background-color: #d6ffd6;
  color: black;
  transition: color 0.2s;
  padding: 20px 0;
}

/* Change color on hover */

/* on click change color */


/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #d6ffd6;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



.admin-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #00a44d;
  color: white;
  font-size: 1.5rem;
  /* border-radius: 40px; */
  margin-bottom: 35px;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  
}

.admin-container{
  padding: 0 300px;
  font-family: "Montserrat", sans-serif;
}
.admin-container h2{
  margin-bottom: 30px;
}

